@import "tailwindcss";


body {

 font-family: "Outfit", sans-serif;
 position: relative;
}
/* button */
button{
  cursor: pointer;
}
.btn-a
{
  border: 2px solid #5B9425;
  padding: 15px 20px;
  border-radius: 30px;
 font-size: 16px;
  font-weight: 500;
  color: #000;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  width: 100%;
  text-align: center;
}
.btn-a:hover
{
  background-color: #5B9425;
  color: #fff;
}
 
.btn-b
{
  border: 2px solid #5B9425;
  padding:8px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-align: center;
  background-color: #5B9425;
  margin: auto;
  width: fit-content;
}
.main-bg{
  background: linear-gradient(180deg, rgba(229, 240, 254, 1) 30%, rgb(185 255 191) 100%);
}


 

/* Popup css ====*/
 
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0000005c;
  backdrop-filter: blur(5px); /* Yeh blur effect add karega */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 15px;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

 

.main-bg-login {
  background: linear-gradient(180deg, rgba(229, 240, 254, 1) 30%, rgb(185 255 191) 100%);
}

@media (min-width: 1024px) {
  .main-bg-login {
    background: transparent !important; /* override karne ke liye */
  }
}
/*==== End Popup Css ====*/
@media (max-width: 1200px)
{
  div#cell-4-1 {
    width: 300px;
  }
}
